<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.A.M | PROJECTTITLE DEMO</title>
    <link rel="icon" type="image/x-icon" href="/Components/images/logo.ico">
    <link rel="stylesheet" href="/Components/css/all.min.css">
    <link rel="stylesheet" href="/Components/css/styles.css"> 
</head>

<body>
    <header>
        <div class="nav-center">
            <nav>
                <a href="#"><img src="/Components/images/logo.png" alt="logo" class="logo"></a>
                <!-- toggle btns -->
                <div class="toggle-icon">
                    <span class="toggle-btn bars"><i class="fas fa-bars"></i></span>
                    <span class="toggle-btn times"><i class="fas fa-times"></i></span>

                </div>
            </nav>



            <!-- ul container -->
            <div class="links-container">
                <div class="nav-link-wrapper">
                    <ul class="nav-links">
                        <li>                        
                            <div>
                                <input type="checkbox" class="checkbox" id="checkbox">
                                <label for="checkbox" class="label">
                                    <i class="fas fa-moon"></i>
                                    <i class='fas fa-sun'></i>
                                    <div class='ball'></div>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>       
        </div> 
        <!-- nav center div above -->
    </header>


    <!--Project Details Section Starts here-->
        <!-- section 1 starts below -->
        
        <section class="section-1" id="home">
            <div class="container">
               <h1 style="color: #00918e; font-size:xx-large; text-align:center">Projects Demo Coming Soon!</h1>
            </div>
    
        </section>
        


    <!--Project Details Section Ends here-->


    <!-- footer section -->
    <footer>
        <div class="footer-content">
            <p>Copryright &copy; Built By <span><strong><em>Saifuldeen Ali Majeed</em></strong></span> 2022 | All Right Reserved.</p>
        </div>
    </footer>

    
    <!-- scripts are down below -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>                        
    <script>
    AOS.init({ duration : 1500, easing: 'ease-in-out'});
    </script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="/Components/js/index.js"></script>
</body>
</html>